  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-2">
    <!-- Brand Logo -->
    <a href="../Home/Index" class="brand-link">
     
      <i class="fab fa-centos"></i><span class="brand-text font-weight-light">&nbspAppSISM</span>
    </a>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Buscar" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-10">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-building"></i>  ETPS</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="../ConsultaClientes/Index">Permanencia</a>
                    <a class="dropdown-item" href="../IngresoDiario/Index">IngresosDiarios</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-truck"></i>  RSSM</a>
                   <div class="dropdown-menu">
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../Dqo/Index">Dqo</a>
                        <a class="dropdown-item" href="../Flujo/Index">Flujo</a>
                        <a class="dropdown-item" href="../ParshallDiario/Index">ParshallDiario</a>
                    </div>      
            </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    <!-- /.sidebar -->
  </aside>
